# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# packages and build executables 
vendor
bin

# test file
input.json
test
resolvers-test.yml
schema-test.graphql
Dockerfile-dev
